# Maven
target/
pom.xml.versionBackup
pom.xml.releaseBackup
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr

logs/

*.class
*.DS_Store

# Package Files #
*.war
*.ear
*.jar

build/
classes/

.gradle/
out
*~

# vim swap files
*.swp
